!!!5
html(lang='en')

  head

  body

    script(src='build/build.js')
    :coffeescript
      thumb = require 'ember-thumb'
      [
        [50, 50]
        [100, 100],
        [150, 150]
      ].forEach (set)->
        view = Em.View.createWithMixins thumb,
          width: set[0]
          height: set[1]
          url: 'photo.jpg'
        view.appendTo 'body'

